<% @resipis.each do |resipi| %>
<div>
  <%= attachment_image_tag resipi, :image %>

<%= link_to resipi_path(resipi.id) do %>
  <p>ショップ名：<%= resipi.name %></p>
<% end %>
  <p>説明：<%= resipi.material %></p>
  <p>説明：<%= resipi.introduction %></p>
  <p>ユーザーネーム：<%= resipi.user.name %></p>
  <p><%= link_to "#{resipi.comments.count} コメント", resipi_path(resipi.id) %></p>
</div>
<% end %>