<div class="container">
 <div calss="row">
　<% @resipis.each do |resipi| %>
　　<div class="col-lg-10 col-sm-10 shadow-lg my-5"><br>
　　　<%= attachment_image_tag resipi, :image, format: 'jpeg', fallback: "no_image.jpg", size: "420x240" %><br>
　　　<p>
　　　<%= attachment_image_tag @user, :profile_image, format: 'jpeg', fallback: "no_image.jpg", size: "60x60" %>
　　　<%= link_to resipi_path(resipi.id) do %>
　　　料理名：<%= resipi.name %>
　　　<% end %>
　　　</p>
　　　<br>
　　　投稿者：<%= resipi.user.name %>
　　　<%= link_to "#{resipi.comments.count} コメント", resipi_path(resipi.id) %>
　　</div>
　　　
　　<% end %>
 </div>
</div>