<div class="row">
  <div class="mx-auto">
    <h1>レシピ投稿</h1>
    <% if @resipi.errors.any? %>
     <%= @resipi.errors.count %>件のエラーが発生しました
     <% @resipi.errors.full_messages.each do |message| %>
      <%= message %>
     <% end %>
    <% end %>
    <%= form_with model: @resipi, local:true do |f| %>
     <h4>料理画像</h4>
     <%= f.attachment_field :image %>
     <p></p>
     <h4>レシピ名</h4>
     <%= f.text_field :name, :size=>"40x10" %>
     <p></p>
     <h4>材料</h4>
     <%= f.text_area :material, :size=>"60x7" %>
     <p></p>
     <h4>作り方</h4>
     <%= f.text_area :introduction, :size=>"60x10" %>
     <p></p>
     <%= f.submit 'レシピを投稿する' %>
   <% end %>
  </div>
</div>