<div class="row">
 <div class="mx-auto">
   <br><br>
    <%= attachment_image_tag @user,:profile_image, format: 'jpeg', fallback: "no_image.jpg", size: "200x200" %>
    <p><br>
      <h4>ニックネーム:<%= @user.name %></h4>
    </p><br>
    <% if @user.id == current_user.id %>
      <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
    <% end %>
 </div>
</div>

<div class="container-fluid">
 <div calss="row">  
 <h3>投稿レシピ一覧</h3>
  <% @resipis.each do |resipi| %>
     <div class="col-md-2 px-4 shadow-lg my-5">
      <%= attachment_image_tag resipi, :image, format: 'jpeg', fallback: "no_image.jpg", size: "240x200"   %>
 　　　　 <%= link_to resipi_path(resipi.id) do %>
 　　　 　 <p>料理名:<%= resipi.name %></p>
       <br>
      <% end %>
      </div>
     <% end %>
  <%= paginate @resipis %>
 </div>
</div>